.banner-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #abab9a;
  height: 100px;
}

.mat-mdc-button:hover {
  color: white;
}

.header-image {
  background-image: url('https://www.cheese.com/static/common/img/logo.3feae68fc57a.svg');
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-right: 5px;
}
