<div class="mt-10" *ngIf="state === 'busy'">
  <mat-spinner></mat-spinner>
</div>
<div class="cdk-visually-hidden" role="status">
  {{ state == 'loaded' ? 'loaded cheese products' : '' }}
</div>
<h1>Our finest collection of cheese</h1>

<div *ngIf="state ==='loaded'" class="cheese-board">
  <mat-card *ngFor="let cheeseProduct of dataModel" class="cheese-card">
    <mat-card-header>
      <mat-card-title>
        <span class="title-flex">
          <span>{{cheeseProduct.name}} </span>
          <span class="cart-icon">
            <mat-icon
              *ngIf="CheckIfAdddedToCart(cheeseProduct); else elseBlock"
              (click)="RemoveFromCart(cheeseProduct)"
              fontIcon="shopping_cart"
            ></mat-icon>
            <ng-template #elseBlock>
              <mat-icon (click)="AddToCart(cheeseProduct)" fontIcon="add_shopping_cart"></mat-icon>
            </ng-template>
          </span>
        </span>
      </mat-card-title>
      <mat-card-subtitle>{{cheeseProduct.cheeseType | camelSpace}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-chip-set role="list">
        <mat-chip *ngIf="cheeseProduct.color" role="listitem"
          >color: {{cheeseProduct.color}}
        </mat-chip>
        <mat-chip role="listitem">price: ${{cheeseProduct.pricePerKilo}} </mat-chip>
      </mat-chip-set>
      <img
        *ngIf="cheeseProduct.productImages && cheeseProduct.productImages.length > 0"
        mat-card-image
        src="{{getProductImageUrl(cheeseProduct.productImages[0])}}"
        class="image-box"
      />
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="./manage-product/{{cheeseProduct.id}}" mat-button color="primary">
        <mat-icon fontIcon="edit"></mat-icon>
        Edit
      </button>
      <button mat-button color="warn" (click)="deleteCheeseProductFromCatalog(cheeseProduct)">
        <mat-icon fontIcon="delete"></mat-icon>Delete
      </button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="!dataModel || dataModel.length === 0">
    <h2>Not so cheesy here !</h2>
    <button routerLink="./manage-product" mat-button color="primary">Add some</button>
  </div>
</div>
