.cheese-card {
  max-width: 400px;
}

.cheese-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.image-box {
  height: 300px;
  width: 300px;
}

.title-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.cart-icon {
  padding-top: 5px;
  cursor: pointer;
}
