<div class="mt-10" *ngIf="state === 'busy'">
  <mat-spinner></mat-spinner>
</div>
<div class="cdk-visually-hidden" role="status">
  {{ state == 'loaded' ? 'loaded cheese product form' : '' }}
</div>

<div *ngIf="state === 'loaded'">
  <h1 class="cm-page-heading" *ngIf="!isEdit">Add cheese product</h1>

  <h1 class="cm-page-heading" *ngIf="isEdit">Edit cheese product</h1>

  <form [formGroup]="formGroup" class="cm-form-group">
    <h2 class="cm-section-header">Product details</h2>

    <div class="cm-flex-row cm-gap-15">
      <div class="cm-flex-column">
        <div role="region" aria-label="Cheese name" class="cm-flex-column cm-section-content">
          <mat-form-field appearance="fill">
            <mat-label>Enter cheese name</mat-label>
            <input
              [formControl]="formGroup.controls.name"
              matInput
              type="text"
              maxlength="200"
              required
            />

            <mat-error *ngIf="formGroup.controls.name.hasError('required')"
              >Please enter a name</mat-error
            >
          </mat-form-field>
        </div>

        <div role="region" aria-label="Cheese type" class="cm-flex-column cm-section-content">
          <mat-form-field appearance="fill">
            <mat-label>Select cheese type</mat-label>
            <mat-select [formControl]="formGroup.controls.cheeseType" required>
              <mat-option>--</mat-option>

              <mat-option
                *ngFor="let cheeseType of cheeseTypes"
                [value]="cheeseType"
                >{{cheeseType | camelSpace}}</mat-option
              >
            </mat-select>

            <mat-error *ngIf="formGroup.controls.cheeseType.hasError('required')"
              >Please choose a cheese type</mat-error
            >
          </mat-form-field>
        </div>

        <div role="region" aria-label="Cheese color" class="cm-flex-column cm-section-content">
          <mat-form-field appearance="fill">
            <mat-label>Select cheese color</mat-label>
            <mat-select [formControl]="formGroup.controls.cheeseColor">
              <mat-option>--</mat-option>

              <mat-option
                *ngFor="let color of cheeseColorTypes"
                [value]="color"
                >{{color | camelSpace}}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div
          role="region"
          aria-label="Cheese price per Kg"
          class="cm-flex-column cm-section-content"
        >
          <mat-form-field appearance="fill">
            <mat-label>Enter cheese price per Kg</mat-label>
            <input
              [formControl]="formGroup.controls.pricePerKilo"
              matInput
              type="text"
              required
              appPricePerKilo
            />
            <mat-error *ngIf="formGroup.controls.pricePerKilo.hasError('required')"
              >Please enter price per Kg</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="cm-flex-column">
        <mat-card class="cm-image-card">
          <img
            *ngIf="imageIds.length == 0"
            mat-card-image
            class="image-box"
            src="https://www.amarootavern.com.au/wp-content/uploads/2020/04/Cheese.jpg"
            alt="Add some cheese photos"
          />

          <img
            *ngIf="currentImageId"
            mat-card-image
            src="{{currentSrc}}"
            class="image-box"
            alt="unable to display image"
          />

          <mat-card-actions>
            <button *ngIf="imageIds.length > 0" mat-button color="warn" (click)="deleteImage()">
              Delete
            </button>
            <button *ngIf="imageIds.length > 1" mat-button color="accent" (click)="nextImage()">
              Next
            </button>
            <button mat-button color="primary" (click)="logoInput.click()">Upload</button>

            <input
              style="display: none"
              #logoInput
              type="file"
              accept=".gif, .png, .jpg, .svg"
              (change)="uploadLogo($event)"
            />
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="cm-flex-row cm-gap-15 cm-pt-10">
      <div>
        <button mat-flat-button color="primary" [disabled]="isLoading" (click)="save()">
          {{ isEdit ? 'Save' : 'Add cheese product' }}
        </button>
      </div>

      <div>
        <button mat-stroked-button routerLink="" [disabled]="isSaving">Cancel</button>
      </div>

      <mat-icon *ngIf="isSaving"></mat-icon>
      <div class="cdk-visually-hidden" role="status">{{ isSaving ? 'saving' : '' }}</div>
    </div>
  </form>
</div>
